<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Sesiones</title>
  </head>
  <body>
    <header class="topbar">
      <h1><a href="/">Sueños Valenti</a></h1>
      <nav>
        <a class="item" href="/">Inicio</a>
        <a class="item" href="/registro">Registro</a>
        <a class="item" href="/temas">Preferencias</a>
        <a class="item" href="/sesiones">Sesiones</a>
        <a class="item" href="/login">Login</a>
        <a class="item" href="/perfil">Mi perfil</a>

        <div class="underline"></div>
      </nav>
    </header>
    <div class="btncarro">
      <button id="btnVaciar" class="btn btn-secondary">Vaciar Carrito</button>
    </div>

    <main class="container">
      <div>
        <h3 class="sesionesT">Sesiones grupales disponibles</h3>
      </div>
      <section class="card">
        <div id="gridProductos" class="grid"></div>
      </section>
      <section class="card">
        <h3>Carrito</h3>
        <ul id="listaCarrito" class="list"></ul>
        <div class="cart-summary">
          <span id="txtUnidades">0 ud</span>
          <strong id="txtTotal">0.00 €</strong>
        </div>
      </section>
    </main>
    <script>
      const buscarProducto = (id) => productos.find((p) => p.id === id);

      let carrito = [];

      let stock = 20;
      let mensaje;

      if (stock < 15) {
        mensaje = "Estamos bajo minimos!";
      } else {
        mensaje = "Tamo bien!";
      }

      let mensaje2 = stock < 15 ? "Estamos bajo minimos!" : "Tamo bien!";
      let mensaje3 = stock > 50 ? "Nos sobra!" : "Tamo bien!";

      const productos = [
        {
          id: 1,
          nombre: "Clase de masaje de pies en pareja",
          tipo: "parejas",
          precio: 59.99,
        },
        {
          id: 2,
          nombre: "Clase grupal sobre apertura de chakras",
          tipo: "grupal",
          precio: 59.99,
        },
        {
          id: 3,
          nombre: "Clase individual de pilates, profe : Poncio",
          tipo: "individual",
          precio: 59.99,
        },
        {
          id: 4,
          nombre: "Clase de iniciacion a la ayahuasca",
          tipo: "viaje",
          precio: 59.99,
        },
        {
          id: 5,
          nombre: "Clase de masajes astrales en pareja",
          tipo: "astral",
          precio: 59.99,
        },
        {
          id: 6,
          nombre: "Clase de adiestramiento del sapo Bufo",
          tipo: "animales",
          precio: 59.99,
        },

        {
          id: 7,
          nombre: "Cata individual de hongos espaciales",
          tipo: "comida",
          precio: 59.99,
        },
        {
          id: 8,
          nombre: "DMT is for everybody in the place!",
          tipo: "DMT",
          precio: 59.99,
        },
      ];

      function precioIVA(precio = 0, iva = 0.21) {
        return precio + precio * iva;
      }

      function decimalEuros(importe) {
        return `${importe.toFixed(2)} €`;
      }

      //RENDER DINAMICO DE CATALOGO EN DOM

      const catalogo = document.querySelector("#gridProductos");

      for (const p of productos) {
        const card = document.createElement("article");
        card.className = "product";

        card.innerHTML = `
          <h4>${p.nombre}</h4>
          <p>Tipo: ${p.tipo}</p>
          <p class class="price">${decimalEuros(p.precio)} + IVA</p>
          <button class="btn" data-id="${p.id}">Añadir</button>
      `;

        catalogo.appendChild(card);
      }

      const grid = document.querySelector("#gridProductos");
      grid.addEventListener("click", (ev) => {
        const btn = ev.target.closest("button[data-id]");
        if (!btn) return;
        const id = +btn.dataset.id;
        agregar(id);
      });

      document.querySelector("#btnVaciar").addEventListener("click", () => {
        carrito = [];
        dibujarCarrito(carrito);
      });

      function agregar(idProducto) {
        const p = buscarProducto(idProducto);
        if (!p) return;

        const linea = carrito.find((l) => l.id === idProducto);
        if (linea) {
          linea.cantidad += 1;
          linea.subtotal = +(linea.cantidad * p.precio).toFixed(2);
        } else {
          carrito.push({
            id: p.id,
            nombre: p.nombre,
            cantidad: 1,
            subtotal: +p.precio.toFixed(2),
          });
        }

        dibujarCarrito(carrito);
      }

      //DIBUJAR CARRITO EN LA INTERFAZ

      function dibujarCarrito(lineas = []) {
        const ulCarrito = document.querySelector("#listaCarrito");
        const txtTotal = document.querySelector("#txtTotal");
        const txtUds = document.querySelector("#txtUnidades");

        //lIMPIAR EL CARRITO

        ulCarrito.innerHTML = "";
        let tUnidades = 0;
        let tImporte = 0;

        //RECORRERLO Y HACER LA LISTA

        for (const l of lineas) {
          const li = document.createElement("li");
          li.textContent = ` ${l.nombre} - ${l.cantidad} uds - ${decimalEuros(
            l.subtotal
          )}`;
          ulCarrito.appendChild(li);

          tUnidades += l.cantidad;
          tImporte += l.subtotal;
        }

        //ACTUALIZAR EL TOTAL

        txtUds.textContent = `${tUnidades} ud`;
        txtTotal.textContent = decimalEuros(precioIVA(tImporte));
      }
    </script>
  </body>
</html>
