<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Temas</title>
    <style>
      body.claro {
        background-color: #44174e;
        color: #fce9e8;
      }

      body.oscuro {
        background-color: #1b1931;
        color: #fce9e8;
      }
    </style>
  </head>
  <body class="<%= tema === 'oscuro' ? 'oscuro' : 'claro' %>">
    <header class="topbar">
      <h1><a href="/">Sueños Valenti</a></h1>
      <nav>
        <a class="item" href="/">Inicio</a>
        <a class="item" href="/registro">Registro</a>
        <a class="item" href="/temas">Preferencias</a>
        <a class="item" href="/sesiones">Sesiones</a>
        <a class="item" href="/login">Login</a>
        <a class="item" href="/perfil">Mi perfil</a>

        <div class="underline"></div>
      </nav>
    </header>
    <main class="container">
      <section class="card">
        <h1>Tema actual: <% tema %></h1>
      
          <button class="btn"><a href="/tema/claro">Tema claro</a></button>
          <button class="btn"><a href="/tema/oscuro">Tema oscuro</a></button>
          <button class="btn"><a href="/borrar-tema">Borrar tema</a></button>
        </p>
        </section>

        <button class="btnlgn"><p><a href="/">Volver al Inicio</a></p></button>
        <button class="btnlgn"><p><a href="/perfil">Volver al perfil</a></p></button>
      </section>
    </main>
    <footer class="footer">
      <small>Sueños Valenti · Abriendo tus chakras desde 2025</small>
    </footer>
  </body>
</html>
